{% extends "base.html" %}

{% load static %}

{% block content %}

<a href={% url 'list_habits' %}>Back to all habits</a>
<div>
  <h2>{{ habit.name }}</h2>
  <p>Habit Target: <b>{{ habit.target }}</b></p>
  <div class="form">
    <h4>Add record for previous date</h4>
    <form method="POST">
        {% csrf_token %} {% for field in form %}
        <div>
          <label for="{{field.id_for_label}}">{{ field.label}}</label>
          {{ field }}
        </div>
        {% endfor %}
        <label>Date</label>
        <input type="date" name="date" id="id_date">
        <div>
          <button type="submit">Save</button>
        </div>
      </form>
  </div>
  {% if habit.record_set.all %}
    <h4>Current Records</h4>
    {% for record in user_records %}
      <a href={% url 'create_update_record' pk=habit.pk year=record.date.year month=record.date.month day=record.date.day %}>
        Date: {{ record.date }} Daily Target: {{ record.daily_number }} 
      </a>
      <a href={% url 'delete_record' pk=habit.pk year=record.date.year month=record.date.month day=record.date.day %}>Delete Record</a>
      <br />
    {% endfor %}
  {% else %}
      <h4>You don't have any records, start adding one!</h4>
      <a href="{% url 'create_update_record' pk=habit.pk year=date.year month=date.month day=date.day%}">Add record</a>
  {% endif %}

</div>

{% endblock content %}
